# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [6]:
import pandas as pd
import numpy as np

In [7]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [10]:
aux = black_friday

In [16]:
aux.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [10]:
aux = black_friday

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [21]:
def q1():
    return black_friday.shape
    pass

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [94]:
def q2():
    return int(black_friday.Gender[(black_friday.Gender == 'F') & 
                                   (black_friday.Age == '26-35')].value_counts()[0])
    pass

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [92]:
def q3():
    return black_friday.User_ID.nunique()
    pass

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    return len(black_friday.dtypes.unique())
    pass

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [139]:
def q5():
    return len(black_friday[black_friday.Product_Category_2.isna() | black_friday.Product_Category_3.isna()])/len(black_friday)
    pass

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [144]:
def q6():
    return int(black_friday.isna().sum().max())
    pass

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [188]:
def q7():
    return black_friday.Product_Category_3.mode()[0]
    pass

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [207]:
def q8():
    purchase = black_friday.Purchase
    normalizacao = ((purchase-purchase.min())/(purchase.max()-purchase.min()))
    return float(normalizacao.mean())
    pass

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [16]:
def q9():
    Purchase = black_friday.Purchase
    normalizacao = ((Purchase-Purchase.mean())/(Purchase.std()))
    return int(normalizacao.between(-1, 1).sum())
    pass

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [13]:
def q10():
    if any(black_friday.Product_Category_2.isna() & black_friday.Product_Category_3.notna()):
        return False
    return True
    pass